 #loginContainer {
    justify-content: center;
    background: url(Background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dfd9d9;
    
}
 
form.signup,
form.login {
  margin-top: 20px;
  padding-top: 20px;
}

#mainContainer {
    background-color: #dfd9d9;
}


#footerContainer {
    text-align: center;
}

#navContainer, footer, .navbar{
    background-color: #dfd9d9;
    max-width: 100%;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="number"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


#navContainer, footer{
    padding: 5px 10px;
    background-color: #dfd9d9;
    max-width: 100%;
}


#footerContainer, #bodyContainer{
    background-color:#dfd9d9;
    max-width: 100%;
    text-align: center;
}

.jumbotron {

    padding-bottom: 20px; 
    text-align: center;
}


.icon {
    display: inline-block;
    width: 100px;
    text-align: end;
}

.form-inline {
    margin-right: auto;
}

#inventoryTableContainer {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #31c6e8;

}  

#inventoryTable {
  padding-top: 300px;
}  

.rounded {
    border-radius:.25rem!important
}

.bg-custom {
     background-color: lightgrey ;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}



label, input {
    display: block;
    display: flex;
}

label {
    margin-bottom: 20px;
}

textarea {	 
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;	 
width: 100%;
}

.nav-link, .form-inline {
    font-family: 'Avantgarde', sans-serif;
    color: white;
    font-size: 20px;
    display: inline-block;
}

.navbar-brand {
    display: inline-block;
    font-family: 'Avantgarde', sans-serif;
    font-size: 30px;
}


.navbar-brand {
    padding: 10px;
    font-size: 30px;
    font-family: 'Avantgarde', sans-serif;
    color: rgb(0, 65, 51);
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 1px;
}



.brand {
    display: inline-block;
    width: 120px;
    vertical-align: middle
}
