form.signup,
form.login {
  margin-top: 20px;
  padding-top: 10px;
}

.jumbotron {

    padding-bottom: 20px; 
    text-align: center;
}
.navbar-custom {
      background-color: #CFCFC4 ;
      color: black;
  }

#inventory-table {
  /* padding-top: 100px; */
  margin-left: auto;
  margin-right: auto;
 
  
}  

.rounded {
    border-radius:.25rem!important
}

.bg-custom {
     background-color: #CFCFC4 ;
    color: black;
    padding: 40px;

}

html {
  /* for demo purposes only */
  margin: 2em;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="number"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

label, input {
    display: block;
    display: flex;
}

label {
    margin-bottom: 20px;
}

textarea {	 
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;	 
width: 100%;

}